body {
    margin: 0;
}

.p5Canvas {
    position: fixed;
    top: 0;
    z-index: -1;
}

.container {
    position: absolute;
    transform: translate(50%, -50%);
    right: 50%;
    top: 50%;
    display: grid;
    grid-template-columns: repeat(6, 70px);
    grid-auto-rows: 70px;
    gap: 1rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 15%;
    color: white;
    font-family: fantasy, sans-serif;
    user-select: none;
    animation: rise 1s 1;
    animation-play-state: running;
}


@keyframes rise {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    10%, 30%, 50%, 70% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    20%, 40%, 60% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    80% {
        -webkit-transform: translateY(6.4px);
        transform: translateY(6.4px);
    }
    90% {
        -webkit-transform: translateY(-6.4px);
        transform: translateY(-6.4px);
    }
}
